.listing {
    display: flex;
    padding: 20px;
  }

  .card {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 30px;
    margin: 10px;
    position: relative;
  }

  .listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }
  .listing-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
  }
  .listing-location {
    padding: 10px 20px 20px 20px;
  }
  .listing-location::before {
    content: url("/assets/location-pin.svg") / "";
  }
  
  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.listing a::after {
    content: "\203A";
    margin-left: 5px;
  }

  .cart-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .cart-button {
    background-color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
  }

  .product-image {
    margin-top: 10px;
    border-radius: 50px;
  }

  .cart-title {
    color: white;
    font-size: 26px;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
  }

  .cart-listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .cart-quantity {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    background-color: red;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .cart-total {
    color: white;
    position: absolute;
    bottom: 100px;
    left: 10px;
  }